<app-animation-screen></app-animation-screen>

<section class="w-full h-screen flex flex-col justify-between p-5">
    <div class="flex justify-between ">
        <img src="imgs/logo-with-text.svg" alt="">

        <div class="flex flex-col gap-3 text-right">
            <span>Neu bei DABubble?</span>
            <a href="">Konto erstellen</a>
        </div>
    </div>


    <app-login class="flex justify-center"></app-login>

    <div class="flex justify-center gap-6">
        <a [routerLink]="'/impressum'" href="">Impressum</a>
        <a [routerLink]="'/datenschutzerklaerung'" href="">Datenschutz</a>
    </div>
</section>