@if(display && addUserService.filteredUsers.length !== 0) {
<div
  class="p-[20px_25px_20px_25px] gap-[15px] rounded-[0px_20px_20px_20px] border border-[#ADB0D9] shadow-[0px_2px_10px_0px_#00000014] opacity-100 bg-white max-h-[300px] overflow-y-auto"
>
  @for (user of addUserService.filteredUsers; track $index) {
  <div class="contact-item" (click)="addUserToList(user.id)">
    <div class="relative">
      <img
        src="{{ user.image || 'imgs/avatar/profile.svg' }}"
        alt=""
        (error)="globalVariablesService.handleImageError($event)"
      />
      <div
        [ngClass]="{
          'bg-online': user.status === 'online' || user.id === 'xB7h4pzqv9gTDPBhnCeJgAtj0qp1',
          'bg-disable': user.status === 'offline'
        }"
        class="absolute bottom-0 right-0 h-[14px] w-[14px] rounded-full border-2 border-white"
      ></div>
    </div>
    <p>
      {{ user.name || "lädt..." }}
    </p>
  </div>
  }
</div>
} @if(display && addUserService.filteredUsers.length === 0) {
<div
  class="p-[20px_25px_20px_25px] gap-[15px] rounded-[0px_20px_20px_20px] border border-[#ADB0D9] shadow-[0px_2px_10px_0px_#00000014] opacity-100 bg-white max-h-[300px] overflow-y-auto"
>
  <span>Keine Ergebnisse gefunden!</span>
</div>
}
