<div
  [ngClass]="{
    'opacity-0 pointer-events-none': !display,
    'opacity-100': display,
    'rounded-[20px_20px_20px_0px]': creatingChannel && isMobile
  }"
  class="p-[20px_25px_20px_25px] gap-[15px] rounded-[0px_20px_20px_20px] border border-[#ADB0D9] shadow-[0px_2px_10px_0px_#00000014] bg-white max-h-[300px] overflow-y-auto transition-opacity duration-300"
>
  @for (user of addUserService.filteredUsers; track $index) {
  <div
    class="contact-item flex items-center gap-2 min-w-[150px] max-w-[250px]"
    (click)="addUserToList(user.id)"
  >
    <div class="relative flex-shrink-0">
      <img
        class="w-[40px] h-[40px] object-cover rounded-full"
        src="{{ user.image || 'imgs/avatar/profile.svg' }}"
        alt=""
        (error)="globalVariablesService.handleImageError($event)"
      />
      <div
        [ngClass]="{
          'bg-online': user.status === 'online',
          'bg-disable': user.status === 'offline',
          'bg-orange-400': user.status === 'abwesend'
        }"
        class="absolute bottom-0 right-0 h-[14px] w-[14px] rounded-full border-2 border-white"
      ></div>
    </div>
    <p class="truncate max-w-[180px]">{{ user.name || "lädt..." }}</p>
  </div>
  } @if (addUserService.filteredUsers.length === 0) {
  <span>Keine Ergebnisse gefunden!</span>
  }
</div>
