.group-members-avatar {
  @apply w-[40px] h-[40px] rounded-full border-2 border-white;
}

.group-members-avatar:not(:first-child) {
  @apply ml-[-15px];
}

.main-chat-date {
  @apply w-full flex justify-center items-center px-[16px] md:px-[45px] relative;

  &:before {
    content: "";
    @apply bg-lines top-[50%] z-[1] h-px absolute left-[16px] md:left-[45px] w-[calc(100%-32px)] md:w-[calc(100%-90px)] rounded-[100px];
  }

  p {
    @apply border-2 border-lines px-[15px] py-[5px] rounded-[30px] text-[18px] z-[1] bg-white;
    position: relative;
  }
}

.main-chat-messages-container {
  // Versteckt die Scrollbar in Webkit-basierten Browsern (Chrome, Safari)
  &::-webkit-scrollbar {
    display: none;
  }

  // Versteckt die Scrollbar in Firefox
  scrollbar-width: none;

  // Versteckt die Scrollbar in IE/Edge
  -ms-overflow-style: none;
}
