.group-members-avatar {
  @apply w-[40px] h-[40px] rounded-full border-2 border-white;
}

.group-members-avatar:not(:first-child) {
  @apply ml-[-15px];
}

.main-chat-date {
  @apply w-full flex overflow-hidden justify-center items-center;

  p {
    @apply border-2 border-lines px-[15px] py-[5px] rounded-[30px] text-[18px];
    position: relative;

    &:before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 100vw;
      @apply bg-lines;
      border-radius: 10px;
    }

    &:before {
      left: 100%;
    }

    &::after {
      right: 100%;
    }
  }
}
