.group-members-avatar {
  @apply w-[40px] h-[40px] rounded-full border-2 border-white;
}

.group-members-avatar:not(:first-child) {
  @apply ml-[-15px];
}

.main-chat-date {
  @apply w-full flex justify-center items-center px-[45px] relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: calc(100% - 90px);
    left: 45px;
    @apply bg-lines;
    border-radius: 100px;
    z-index: 1;
  }

  p {
    @apply border-2 border-lines px-[15px] py-[5px] rounded-[30px] text-[18px] z-10 bg-white;
    position: relative;
  }
}

.main-chat-messages-container {
  // Versteckt die Scrollbar in Webkit-basierten Browsern (Chrome, Safari)
  &::-webkit-scrollbar {
    display: none;
  }

  // Versteckt die Scrollbar in Firefox
  scrollbar-width: none;

  // Versteckt die Scrollbar in IE/Edge
  -ms-overflow-style: none;
}
