<div class="bg-white rounded-3xl flex flex-col justify-center items-center w-2/3 p-12 shadow-lg m-auto">

    <div class="flex flex-col justify-center items-center gap-8 pb-8">
        <h1 class="text-5xl font-bold text-primary">Anmeldung</h1>
        <p class="text-center text-xl">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
            verwendest.</p>
    </div>

    <form class="w-full" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="flex flex-col gap-2 pb-4 w-full">
            <div class="bg-bg flex rounded-full p-3 px-8 gap-12 items-center  w-full">
                <img src="imgs/icons/mail.svg" alt="">
                <input formControlName="email" required class="" type="email" name="" id=""
                    placeholder="beispielname@email.com">
            </div>
            <div class="h-6 ">
                <small class="text-error"
                    *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
                    *Diese E-Mail-Adresse ist leider ungültig.
                </small>
            </div>

            <div class="bg-bg flex rounded-full p-3 px-8 gap-12 items-center  w-full">
                <img src="imgs/icons/lock.svg" alt="">
                <input formControlName="password" required type="password" name="" id="" placeholder="Passwort">
            </div>

            <div class="h-6 ">
                <small class="text-error "
                    *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched || failed">
                    *Falsches Passwort oder E-Mail.
                </small>
            </div>


            <a  [routerLink]="['/login/resetpw']" class="text-center text-primary" href="">Passwort vergessen?</a>
        </div>


        <div class="w-full flex items-center gap-2">
            <div class="bg-lines w-full h-px flex justify-center"></div>
            <span>ODER</span>
            <div class="bg-lines w-full h-px flex justify-center"></div>
        </div>


        <div (click)="loginWithGoogle()"
            class="bg-bg flex rounded-full py-2 gap-2 items-center justify-center w-full my-8 cursor-pointer">
            <img src="imgs/icons/Google.svg" alt="" class="size-9">
            <span class="text-[18px] text-primary">Anmelden mit Google</span>
        </div>



        <div class="flex gap-8 justify-center">
            <button type="submit">Anmelden</button>
            <button (click)="goToMainPage()"
                class="bg-white text-primary border rounded-full border-lines hover:bg-primary hover:text-white ">Gäste-Login</button>
        </div>
    </form>
</div>