<div
  class="p-[40px] rounded-[30px] transition-svg-text box-shadow-[0px_6px_10px_0px_#00000033] bg-white absolute z-[100]"
  [ngClass]="{
    'scale-0': !popupOpen,
    'rounded-tl-[00px]': popupCorner === 'tl',
    'rounded-tr-[00px]': popupCorner === 'tr',
    'rounded-bl-[00px]': popupCorner === 'bl',
    'rounded-br-[00px]': popupCorner === 'br',
    'rounded-[30px]': popupCorner === '',
    'top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]': centerPopup
  }"
>
  <app-create-channel-popup
    (closePopupEvent)="closePopup()"
    *ngIf="popupType === 'create-channel'"
  ></app-create-channel-popup>
</div>
