.message {
  @apply flex items-start gap-[15px];

  > img {
    @apply h-[70px] w-[70px] rounded-full;
  }
}

.main-chat-message-container {
  position: relative;
  z-index: 2;
  overflow: visible;

  &:before {
    transition: 0.2s ease-in-out;

    content: "";
    position: absolute;
    top: 0;
    width: 105vw;
    height: 100%;
    @apply bg-bg left-[0px] md:left-[-45px];
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    .reaction-bar {
      opacity: 1;
      transform: translateY(-50%);
    }

    .contact-message {
      @apply bg-white;
    }
  }

  .reaction-bar {
    opacity: 0;
    transform: translateX(100px) translateY(-50%);
  }
}

.reaction-item {
  @apply rounded-full cursor-pointer flex items-center justify-center p-[8px]  box-content;

  &:hover {
    @apply bg-bg;

    svg,
    path {
      @apply fill-primary;
    }
  }
}

.reaction-item-like {
  @apply rounded-full cursor-pointer flex items-center justify-center p-[8px] hover:scale-110 box-content;

  &:hover {
    @apply bg-bg;
  }
}

.emoji {
  position: relative;

  &:hover {
    .emoji-hover-popup {
      transform: scale(1);
    }
  }

  .emoji-hover-popup {
    position: absolute;
    top: -10px;
    left: -10px;

    transition: 0.2s ease-in-out;

    transform: scale(0);
  }
}
