.channel-item {
  @apply hover:bg-bg hover:cursor-pointer px-[20px] py-[4px] rounded-[35px] w-full flex items-center gap-[10px] transition-all duration-150;

  svg,
  path {
    @apply fill-black;
  }
}

.active-channel {
  @apply bg-bg text-primary;

  svg,
  path {
    @apply fill-primary;
  }
}

.contact-item {
  @apply hover:bg-bg hover:cursor-pointer px-[20px] py-[4px] rounded-[35px] w-full flex items-center gap-[10px] transition-all duration-100;

  img {
    @apply h-[50px] w-[50px] min-h-[50px] min-w-[50px] rounded-full;
  }

  p {
    @apply text-[18px];
  }
}

.active-contact {
  @apply bg-bg text-primary;
}

.plus-btn {
  height: 24px;
  width: 24px;
  transition: 0.15s;
  padding: 4px;
  box-sizing: content-box;
  @apply rounded-full;

  &:hover {
    svg,
    path {
      @apply fill-primary;
      @apply stroke-primary;
    }
    @apply bg-bg;
  }

  @media (max-width: 768px) {
    svg,
    path {
      @apply fill-primary;
      @apply stroke-primary;
    }
    @apply bg-bg;
  }
}

.searchInput-container {
  &:has(input:focus) {
    @apply border-[3px] border-primary;
  }
}
