.open-sidebar-btn {
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  svg {
    transform: rotate(180deg);
  }

  p {
    @apply font-light;
  }

  &:hover {
    svg,
    rect,
    path {
      @apply stroke-primary;
    }

    p {
      @apply text-primary;
      @apply font-bold;
    }
  }
}
