@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@use "@ctrl/ngx-emoji-mart/picker";

html {
  @apply bg-bg;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Nunito";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

button {
  @apply bg-primary rounded-full px-[25px] py-[12px] text-[18px] font-bold text-white hover:bg-hover disabled:bg-disable transition-[0.2s];
}

.white-btn {
  @apply bg-white border-[1px] border-hover text-primary hover:text-white hover:bg-primary;
}

img {
  user-select: none;
}

.primary-svg-text {
  @apply text-primary;

  svg,
  path {
    @apply fill-primary;
  }
}

.hover-primary-bg {
  cursor: pointer;

  &:hover {
    @apply bg-bg text-primary;

    svg,
    path {
      fill: rgb(68, 77, 242);
    }
  }
}

.hover-primary {
  cursor: pointer;

  &:hover {
    @apply text-primary;

    svg,
    path {
      @apply fill-primary;
    }
  }
}

.transition-svg-text {
  transition: 0.2s;

  svg,
  path {
    transition: 0.2s;
  }
}

.popup-input-container {
  @apply flex items-center gap-[20px] border-[1px] border-lines rounded-[40px] px-[20px] py-[18px] hover:cursor-text hover:border-chat;

  input {
    @apply h-full w-full border-none outline-none;
  }

  &:has(input:focus) {
    @apply border-hover;
  }
}

// Scrollbar

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-lines;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-chat;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
  height: 0;
  width: 0;
}
