@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply bg-bg;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

button {
  @apply bg-primary rounded-full px-[25px] py-[12px] text-white hover:bg-hover disabled:bg-disable;
}

img {
  user-select: none;
}

.hover-primary-bg {
  cursor: pointer;

  &:hover {
    @apply bg-bg text-primary;

    svg,
    path {
      @apply fill-primary;
    }
  }
}

.hover-primary {
  cursor: pointer;

  &:hover {
    @apply text-primary;

    svg,
    path {
      @apply fill-primary;
    }
  }
}

.transition-svg-text {
  transition: 0.2s;

  svg,
  path {
    transition: 0.2s;
  }
}
