@keyframes slideLetters {
  0% {
    visibility: hidden; /* Unsichtbar vor der Animation */
    transform: translateX(-100%);
    opacity: 0;
  }
  1% {
    visibility: visible; /* Sichtbar, wenn die Animation startet */
    opacity: 1;
  }
  100% {
    color: black;
    visibility: visible;
    transform: translateX(-30%);
    opacity: 1; /* Vollständig sichtbar */
  }
}

@keyframes logoScale {
  0% {
    transform: translateX(50%);
    width: 400px;
    height: 400px;
  }

  0% {
    width: 180px;
    height: 180px;
  }

  100% {
    width: 70px;
    height: 70px;
  }
}

.logo {
  animation: logoScale 2.5s ease-in forwards;
  width: 180px;
  height: 180px;
}

.relative {
  position: relative;
  overflow: hidden; /* Schneidet den sichtbaren Bereich ab */
  width: 200px; /* Breite des sichtbaren Bereichs für das Logo-Name-Bild */
  margin-left: 10px; /* Abstand von 10px zum Hauptlogo */
}

.logo-name {
  transform: translateX(1000%);
  width: 470px;
  height: 24px;
  animation: slideLetters 0.5s ease-out forwards;
  animation-delay: 2.5s; /* Verzögert den Start der Animation um 2500ms */
}

@keyframes backgroundOpacity {
  0% {
    opacity: 1;
  }

  97% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -9999;
  }
}

.background-Opacity {
  animation: backgroundOpacity 3s ease-in forwards;
  background: linear-gradient(to top, #313ae5, #797ef3);
  animation-delay: 2.5s;
}

@keyframes animateToPosition {
  0% {
    opacity: 1;
    transform: translateX(50vw);
    transform: translateY(40vh);
  }

  90% {
    opacity: 1;
    transform: translateX(50vw);
    transform: translateY(40vh);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0); /* Zurücksetzen der Translation */
  }
}

@keyframes animateToPositionWindow {
  0% {
    opacity: 1;
    transform: translateX(50vw);
    transform: translateY(50vh);
    padding-left: 40%;
  }

  90% {
    opacity: 1;
    transform: translateX(50vw);
    transform: translateY(50vh);
    padding-left: 40%;

  }

  100% {
    opacity: 1;
    transform: translate(0, 0); /* Zurücksetzen der Translation */
    padding-left: 0%; /* Weicher Übergang nach links */
  }
}


.mobile-reposition {
  animation: animateToPosition 4s ease-in forwards;
  justify-content: center;
}

.window-reposition {
  animation: animateToPositionWindow 4s ease-in forwards;
  justify-content: start;
}

@keyframes changeColor {
  0% {
    color: white;
  }

  100% {
    color: black;
  }
}

.change-color {
  animation: changeColor 8s ease-in-out forwards;
}
